/* Media Queries para Responsividad */

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
    .contenedorcajatexto {
      width: 100%;
      padding-left: 1.25rem; /* 20px */
    }
  
    .cajatexto {
      font-size: 1.5rem; /* 24px */
    }
  
    .btn-encriptar, .btn-desencriptar {
      width: 100%;
      margin-bottom: 0.625rem; /* 10px */
    }
  }
  
  /* Estilos para tablets */
  @media (min-width: 601px) and (max-width: 1024px) {
    .contenedorcajatexto {
      width: 80%;
      padding-left: 3.125rem; /* 50px */
    }
  
    .cajatexto {
      font-size: 1.75rem; /* 28px */
    }
  
    .btn-encriptar, .btn-desencriptar {
      width: 80%;
    }
  }
  


